@font-face {
    font-family: "Mantonico";
    src: url("../assets/fonts/Mantonico-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lack";
    src: url("../assets/fonts/Lack-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BavariaGates";
    src: url("../assets/fonts/BavariaGatesPersonalUse-8MdRg.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}